
.html{
    font-family: sans-serif;
    
}
.nome{
    font-size: 100px;
    margin-top: 80px;
    margin-left: 80px;
}
.profession{
    text-align: center;
    font-size: 33px;

}

body{
    color:rgb(0, 0, 0);
    background-color:rgb(255, 254, 254);
}

.ability-card {
    align-self: center;
    width: 120px;
    padding: 32px;
    background: rgb(249, 247, 247);
    border: 2px solid #111;
    border-radius: 18px;
    border-style: solid;
    display: inline-block;
}

.habilidades {
    text-align: center;
    font-size: xx-large;
}

.contato {

    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    width: 120px;
    padding: 12px;
    background: rgb(249, 247, 247);
    border: 2px solid #111;
    border-radius: 18px;
    border-style: solid;
    display: flex;
    
}
